@import url('https://fonts.googleapis.com/css?family=La+Belle+Aurore|Open+Sans|Anton|Roboto|Lato|Bungee');

/* global */
body {
    background: #ffffff;
    margin: 0;
    padding: 0;
	font-family:  'Open Sans', sans-serif;
} 


/* header */

.navbar-default {
	font-family: 'Open Sans', sans-serif;
    padding-bottom: 300px;
    font-size: 15px;
    font-weight: bold;	background:url(../images/yellow_structure_hd-2560x1440.jpg) no-repeat;
	background-size: cover;
}

.navbar-brand{
font-family: 'Anton', sans-serif;
background: #003D3E;

}

nav.navbar.navbar-default.navbar-static-top{
    border-bottom-width: 0px;
    margin-bottom: 0px;
}

.highlight {
	color: #FFFFFF;
	font-size: 30px;
	font-weight: lighter;

}

#navbar>ul>li>a{
	color: black;
	font-weight: normal;
	font-size: 17px;
}

#navbar>ul>li>a:hover{
	color: #FFFFFF;
	font-weight: bolder;
}

/* section */

section {
    border-top: 1px solid;
    min-height: 500px;
    text-align: center;
    background: url(../images/showcase.jpg) no-repeat;
    background-size: cover;
}

section h1{
    font-size: 50px;
    font-family: 'Anton', sans-serif;
    background: #03794e;
    color: white;
    margin-top: 200px;
    padding: 30px 0 30px 0;
}


/* article */

article{
    margin-top: 30px;
}

article h3 {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}
article p{
	padding-bottom: 50px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

article .mod-pic{
    margin-bottom: 50px;
    height: 500px;
}



/* footer */

footer {
	margin-top: 70px;
	padding-bottom: 70px;
	background: #2F8E8D;
	text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}


footer  li{
    list-style: none;
    display:inline;
  	margin: 10px;
    font-size: 15px;
}

footer ul li a {
    color: white;
}

footer a:hover{
    color: black;
}

footer ul {
	padding-left: 0px;
}

footer h3 {
	color: white;
	background: #003D3E;
    font-size: 30px;
    font-weight: bold;
	padding-bottom: 20px;
	padding-top: 20px;
}